

@import './lib-share/rulesets-mixin/responsive.mixin.less';
@import './lib-share/rulesets-mixin/animation.ruleset.less';
// Updated---------------

left-sidebar {
    compass {
        .compass-container {
            height: 100px;
            width: 100px;
            position: fixed;
            top: 1rem;
            right: 1rem;
            @Standard_curve() ;
            transition: all;
            .duration_r(normal);
            .screen-sm( {
                transform: scale(0.6);
                top:-0.5rem;
                right:-0.5rem;
                    &.zoom{
                         transform: scale(1);
              top: 1rem;
              right: 1rem;
                    }
            }

            );

            > .plate {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../img/compass/plate.png);
                background-size: 100%;
            }

            > .pointer {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../img/compass/pointer.png);
                background-size: 100%;
            }
        }
    }
}
