 @import './responsive.mixin.less';
 //**Animation libary:
 //## Easing curves.
 //## common duration.
 //## common keyframe.
 // Easing curves.   
 // Entering or exiting objects that move other on-screen elements do so along a smooth easing curve,for example: change the size.
 @Standard_curve: {
     transition-timing-function: cubic-bezier(.4, .0, .2, 1);
     animation-timing-function: cubic-bezier(.4, .0, .2, 1);
 }

 ;
 // Deceleration curve: Elements entering the screen use the deceleration curve
 @Easing_in: {
     transition-timing-function: cubic-bezier(.0, .0, .2, 1);
     animation-timing-function: cubic-bezier(.0, .0, .2, 1);
 }

 ;
 // Acceleration curve: For permanently leaving the screen for example alert box 
 @Easing_out: {
     transition-timing-function: cubic-bezier(.4, .0, 1, 1);
     animation-timing-function: cubic-bezier(.4, .0, 1, 1);
 }

 ;
 // Sharp curve: Temporarily leaving the screen
 @Sharp_curve: {
     transition-timing-function: cubic-bezier(.4, .0, .6, 1);
     animation-timing-function: cubic-bezier(.4, .0, .6, 1);
 }

 ;
 @animated: {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }

 ;
 .duration(@time) {
     -webkit-animation-duration: @time;
     animation-duration: @time;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     -webkit-transition-duration: @time;
     /* Safari */
     transition-duration: @time;
 }

 .duration_r(@type: normal) {
     /* Mobile Duration Description:
   - Transitions on mobile typically occur over 300ms, within this margin of variance:
   - Large, complex, full-screen transitions may have longer durations, occurring over 375ms
   - Elements entering the screen occur over 225ms
   - Elements leaving the screen occur over 195ms
   - Transitions that exceed 400ms may feel too slow.
   */
     .screen-sm( {
         & when ( @type=normal) {
             .duration(300ms)
         }
         & when ( @type=in) {
             .duration(225ms)
         }
         & when ( @type=out) {
             .duration(195ms)
         }
         & when ( @type=complex) {
             .duration(375ms)
         }
     }
     );
     /* tablet Duration Description:
    - Durations on tablet should be about 30% longer than on mobile
    */
     .screen-md( {
         & when ( @type=normal) {
             .duration((300ms * 1.3))
         }
         & when (@type=in) {
             .duration((225ms*1.3))
         }
         & when (@type=out) {
             .duration((195ms*1.3))
         }
         & when (@type=complex) {
             .duration((375ms*1.3))
         }
     }
     );
     /* Destop Duration Description:
 - Because desktop transitions may be less noticeable, they should be immediately responsive and faster than their mobile counterparts.
 - So nomally, desktop animations should be faster and simpler than their mobile counterparts. These animations should last 150ms to 200ms.
*/
     .screen-lg-min( {
         & when (@type=normal) {
             .duration(200ms)
         }
         & when (@type=in) {
             .duration(175ms)
         }
         & when (@type=out) {
             .duration(150ms)
         }
         & when (@type=complex) {
             .duration(500ms)
         }
     }
     )
 }

 // Common keyframe.
 .keyframes_slideInUp() {
     @keyframes slideInUp {
         from {
             visibility: visible;
             -webkit-transform: translateY(100%);
             transform: translateY(100%);
             @Easing_in();
         }
         to {
             -webkit-transform: translateY(0);
             transform: translateY(0);
         }
     }
 }

 .keyframes_slideOutDown() {
     @keyframes slideOutDown {
         from {
             -webkit-transform: translateY(0);
             transform: translateY(0);
             @Sharp_curve();
         }
         to {
             visibility: hidden;
             -webkit-transform: translateY(100%);
             transform: translateY(100%);
         }
     }
 }

 .keyframes_bounceIn() {
     @keyframes bounceIn {
         from,
         20%,
         40%,
         60%,
         80%,
         to {
             @Standard_curve();
         }
         0% {
             transform: scale3d(.3, .3, .3);
             opacity: 0;
         }
         20% {
             transform: scale3d(1.1, 1.1, 1.1);
         }
         40% {
             transform: scale3d(.9, .9, .9);
         }
         60% {
             transform: scale3d(1.03, 1.03, 1.03);
             opacity: 1;
         }
         80% {
             transform: scale3d(.97, .97, .97);
         }
         to {
             transform: scale3d(1, 1, 1);
             opacity: 1;
         }
     }
 }

 .keyframes_bounceInDelay() {
     @keyframes bounceInDelay {
         from,
         75%,
         80%,
         85%,
         90%,
         95%,
         to {
             @Standard_curve();
         }
         0% {
             transform: scale3d(.3, .3, .3);
             opacity: 0;
         }
         50% {
             transform: scale3d(.3, .3, .3);
             opacity: 0;
         }
         60% {
             transform: scale3d(1.1, 1.1, 1.1);
         }
         70% {
             transform: scale3d(.9, .9, .9);
         }
         80% {
             transform: scale3d(1.03, 1.03, 1.03);
             opacity: 1;
         }
         90% {
             transform: scale3d(.97, .97, .97);
         }
         to {
             transform: scale3d(1, 1, 1);
             opacity: 1;
         }
     }
 }

 .keyframes_fadeInLeft() {
     @keyframes fadeInLeft {
         from {
             -webkit-transform: translate3d(-100%, 0, 0);
             transform: translate3d(-100%, 0, 0);
             @Easing_in();
             opacity: 0;
         }
         to {
             -webkit-transform: none;
             opacity: 1;
         }
     }
 }

 .keyFrames_fadeOutLeft() {
     @keyframes fadeOutLeft {
         from {
             opacity: 1;
             @Sharp_curve();
         }
         to {
             -webkit-transform: translate3d(-100%, 0, 0);
             transform: translate3d(-100%, 0, 0);
             opacity: 0;
         }
     }
 }

 .keyframes_breath() {
     @keyframes breath {
         0% {
             opacity: 0.3;
         }
         60% {
             opacity: 1;
         }
         100% {
             opacity: 0.3;
         }
     }
 }

 .keyframes_breath2() {
     @keyframes breath2 {
         0% {
             stroke-width: 3;
         }
         60% {
             stroke-width: 6;
         }
         100% {
             stroke-width: 3;
         }
     }
 }

 @bounceIn: {
     animation-name: bounceIn;
 }

 ;
 @bunceInDelay: {
     animation-name: bunceInDelay;
 }

 ;