.flash-button() {
    position: relative;
    overflow: hidden;
    &:before {
        opacity: 6;
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -20px;
        right: -20px;
        border-radius: 10px;
        background-color: inherit;
        filter: saturate(2);
        transition: all 0.3s;
        transform: translateX(-100%); // z-index: 1;}
    }
    &:hover,
    &:focus {
        transform: translateX(0%);
        opacity: 0.15;
    }
}
