// out: false
@screen-sm: 0px;
@screen-sm-min: @screen-sm;
@screen-md: 40em;
@screen-md-min: @screen-md;
@screen-lg: 64em;
@screen-lg-min: @screen-lg;
@screen-xl: 75rem;
@screen-xxl: 90rem;
@screen-xl-min: @screen-xl;
@screen-xs-max: (@screen-sm-min - 0.0625rem);
@screen-sm-max: (@screen-md-min - 0.0625rem);
@screen-md-max: (@screen-lg-min - 0.0625rem);
@screen-lg-max: (@screen-xl-min - 0.0625rem);

.screen-sm(@rules) {
    @media (max-width: @screen-sm-max) {
        @rules();
        }
    }

// sm and smaller
.screen-sm-max(@rules) {
    @media (max-width: @screen-sm-max) {
        @rules();
        }
    }

// md and larger
.screen-md-min(@rules) {
    @media (min-width: @screen-md-min) {
        @rules();
        }
    }

// md only
.screen-md(@rules) {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        @rules();
        }
    }

// md and smaller
.screen-md-max(@rules) {
    @media (max-width: @screen-md-max) {
        @rules();
        }
    }

// lg and larger
.screen-lg-min(@rules) {
    @media (min-width: @screen-lg-min) {
        @rules();
        }
    }

// lg only
.screen-lg(@rules) {
    @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
        @rules();
        }
    }

// lg and smaller
.screen-lg-max(@rules) {
    @media (max-width: @screen-lg-max) {
        @rules();
        }
    }

// xl and larger
.screen-xl(@rules) {
    @media (min-width: @screen-xl-min) {
        @rules();
        }
    }
// xl and smaller
.screen-xl-max(@rules) {
    @media (max-width: @screen-xl-max) {
        @rules();
        }
    }
.screen-xxl(@rules) {
    @media (min-width: @screen-xxl) {
        @rules();
        }
    }
h1.big-title.mid-decrease {
    .screen-xl( {
         font-size: 6rem;
    }
    );}
// 2:sm only, 3:md and larger
.screen(@rules-sm, @rules-md) {
    .screen-sm(@rules-sm);

.screen-md-min(@rules-md);
    }

//  2:sm only, 3:md only, 4:lg and larger
.screen(@rules-sm, @rules-md, @rules-lg) {
    .screen-sm(@rules-sm);

.screen-md(@rules-md);

.screen-lg-min(@rules-lg);
    }

//, 2:sm only, 3:md only, 4:lg only, 5:xl and larger
.screen(@rules-sm, @rules-md, @rules-lg, @rules-xl) {
.screen-sm(@rules-sm);

.screen-md(@rules-md);

.screen-lg(@rules-lg);

.screen-xl(@rules-xl);
    }

 // when small thn
.screen-customize(@minWidth, @maxWidth, @rules) {
     @media (min-width:@minWidth) and (max-width: @maxWidth){
         @rules();
     }
}
