//animation libary
//Easing curves
//Entering or exiting objects that move other on-screen elements do so along a smooth easing curve, so that they remain minimally disruptive and avoid eye-catching, dramatic movement.The standard curve is used for moving elements both in and out of the bounds of the screen
.Standard_curve {
    transition-timing-function: cubic-bezier(.4, .0, .2, 1);
    animation-timing-function: cubic-bezier(.0, .0, .2, 1);
    }

//Elements entering the screen use the deceleration curve for a speedy entrance, indicating that they had been travelling at peak velocity.
.Easing_out {
    transition-timing-function: cubic-bezier(.0, .0, .2, 1);
    }

//Elements permanently leaving the screen use the acceleration curve 
.Easing_in {
    transition-timing-function: cubic-bezier(.4, .0, 1, 1);
    }

//Elements temporarily leaving the screen should use the sharp curve
.Sharp_curve {
    transition-timing-function: cubic-bezier(.4, .0, .6, 1);
    }
//


.animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    }

.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .375s;
            animation-duration: .375s;
    }

@keyframes slideInUp {
    from {
        visibility: visible;

        -webkit-transform: perspective(500px) translate3d(0, 100%, -200px);
                transform: perspective(500px) translate3d(0, 100%, -200px);
        animation-timing-function: cubic-bezier(.0, .0, .2, 1);
        }
    to {
        -webkit-transform: perspective(500px) translate3d(0, 0, 0);
                transform: perspective(500px) translate3d(0, 0, 0);
        }
    }

@keyframes slideOutDown {
    from {
        -webkit-transform: perspective(500px) translate3d(0, 0, 0);
                transform: perspective(500px) translate3d(0, 0, 0);
        animation-timing-function: cubic-bezier(.4, .0, .6, 1); //sharp curve
        }
    to {
        visibility: hidden;

        -webkit-transform: perspective(500px) translate3d(0, 100%, -200px);
                transform: perspective(500px) translate3d(0, 100%, -200px);
        }
    }

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(.0, .0, .2, 1);
        }
    0% {
        transform: scale3d(.3, .3, .3);

        opacity: 0;
        }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
        }
    40% {
        transform: scale3d(.9, .9, .9);
        }
    60% {
        transform: scale3d(1.03, 1.03, 1.03);

        opacity: 1;
        }
    80% {
        transform: scale3d(.97, .97, .97);
        }
    to {
        transform: scale3d(1, 1, 1);

        opacity: 1;
        }
    }

@keyframes bounceInDelay {
    from,
    75%,
    80%,
    85%,
    90%,
    95%,
    to {
        animation-timing-function: cubic-bezier(.0, .0, .2, 1); //Standard_curve
        }
    0% {
        transform: scale3d(.3, .3, .3);

        opacity: 0;
        }
    50% {
        transform: scale3d(.3, .3, .3);

        opacity: 0;
        }
    60% {
        transform: scale3d(1.1, 1.1, 1.1);
        }
    70% {
        transform: scale3d(.9, .9, .9);
        }
    80% {
        transform: scale3d(1.03, 1.03, 1.03);

        opacity: 1;
        }
    90% {
        transform: scale3d(.97, .97, .97);
        }
    to {
        transform: scale3d(1, 1, 1);

        opacity: 1;
        }
    }

@keyframes fadeInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);

        opacity: 0;
        }
    to {
        -webkit-transform: none;

        opacity: 1;
        }
    }

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        }
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);

        opacity: 0;
        }
    }


