@import (reference) "./rulesets-mixin/box-shadow.mixin.less"; 
.box-shadow1 {
    .box-shadow(1);
    }

.box-shadow2 {
    .box-shadow(2);
    }

.box-shadow3 {
    .box-shadow(3);
    }

.box-shadow4 {
    .box-shadow(4);
    }

.box-shadow5 {
    .box-shadow(5);
    }

.box-shadow6 {
     .box-shadow(6);
    }
