//from we use he height concept to show the box-shadow. 
//https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android
@import (reference) "./rulesets-mixin/box-elevation-shadow.mixin.less"; 
.elevation-z0 {
   .elevation-z(@z: 0)
}
.elevation-z1 {
   .elevation-z(@z: 1)
}
.elevation-z2 {
   .elevation-z(@z: 2)
}
.elevation-z3 {
   .elevation-z(@z: 3)
}
.elevation-z4 {
   .elevation-z(@z: 4) 
}
.elevation-z5 {
   .elevation-z(@z: 5)
}
.elevation-z6 {
   .elevation-z(@z: 6)
}
.elevation-z7 {
   .elevation-z(@z: 7)
}
.elevation-z8 {
   .elevation-z(@z: 8)
}
.elevation-z9 {
   .elevation-z(@z: 9)
}
.elevation-z10 {
   .elevation-z(@z: 10)
}
.elevation-z11 {
   .elevation-z(@z: 11)
}
.elevation-z12 {
   .elevation-z(@z: 12)
}
.elevation-z13 {
   .elevation-z(@z: 13)
}
.elevation-z14 {
   .elevation-z(@z: 14)
}
.elevation-z15 {
   .elevation-z(@z: 15)
}
.elevation-z16 {
   .elevation-z(@z: 16)
}
.elevation-z17 {
   .elevation-z(@z: 17)
}
.elevation-z18 {
   .elevation-z(@z: 18)
}
.elevation-z19 {
   .elevation-z(@z: 19)
}
.elevation-z20 {
   .elevation-z(@z: 20)
}
.elevation-z21 {
   .elevation-z(@z: 21)
}
.elevation-z22 {
   .elevation-z(@z: 22)
}
.elevation-z23 {
   .elevation-z(@z: 23)
}
.elevation-z24 {
   .elevation-z(@z: 24)
}
