@import './rulesets-mixin/responsive.mixin.less';
@import './rulesets-mixin/animation.ruleset.less';
@import './rulesets-mixin/box-elevation-shadow.mixin.less';
@import './input.less';
video::-webkit-media-controls {
    display: none !important;
}

h1.small-title.mid-decrease {
    .screen-lg( {
        font-size: 22px;
        line-height: 40px;
    }
    );
    .screen-md( {
        font-size: 22px !important;
        line-height: 40px;
    }
    );
}

h1.big-title.mid-decrease {
    .screen-lg( {
        font-size: 6rem;
    }
    );
    .screen-lg( {
        font-size: 6rem;
    }
    );
    .screen-md( {
        font-size: 60px !important;
        line-height: auto;
    }
    );
    .screen-sm( {
        font-size: 48px !important;
        letter-spacing: normal;
    }
    );
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

hr.dashed {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.50);
}

.small-row {
    max-width: 1300px;
}

.material-icons.arrow_downward {
    margin-top: 2rem;
    padding: 4rem;
    border-color: #ffffff;
    outline: none;
    background: none; //line-height:5rem;
    &:active {
        border: 0;
    }
    &:after {
        font-size: 3REM;
        content: '\E5DB';
        color: #ffffff;
    }
}

.circle {
    border-radius: 1000px;
}

.round-badge {
    font-family: 'Material Icons';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: all;
    @Standard_curve();
    .duration_r(normal);
    /* Preferred icon size */
    text-transform: none;
    word-wrap: normal;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    direction: ltr;
    /* Support for IE. */
    font-feature-settings: 'liga';
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    &:hover {
        transform: scale(1.2);
    }
}
.light-shadow{
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
}
// 通用样式结束-----------------------------------------------------------------------------------------------
.widder-row {
    max-width: 1560px;
}

.collapse-for-mediumn-down{
	.screen-md-max({
		>.column,>.columns{
			padding:0
		}
	})
}

.close-button{
    outline:0;
}
@light-opensans: {
    font-family: Open Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
}

;
@bold-opencond: {
    font-family: 'open sans condensed', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
}

;
@light-opencond: {
    font-family: 'open sans condensed', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
}

;
.light-opensans {
    @light-opensans();
}

.bold-opencond {
    @bold-opencond();
}

.light-opencond {
    @light-opencond();
}