small.error {
    display: block;
    font-size: 0.66667rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.88889rem;
    margin-top: -1px;
    padding: 0.33333rem 0.5rem 0.5rem;
    background: #f04124;
    color: #FFF;
    margin-top: -17px;

    &[hidden] {
        display: none;
    }
}

.pac-container{
  border-left:5px solid #3adb76;
  box-sizing:content-box;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
    border-left: 5px solid #35bdff !important;
}

select, input {
    &.ng-invalid.ng-touched, &.zf-invalid.zf-touched{
        border-left: 5px solid #f04124;
    }

    &.ng-valid[required], &.zf-valid[required] {
        border-left: 5px solid #3adb76;
    }

    &[required] {
        border-left: 5px solid #3adb76;
    }
}

select:invalid {
    color: rgba(128, 128, 128, 0.51);
}

select option:disabled {
    color: #ababab;
    font-style: italic;
}

.callout.alert-danger {
    background-color: #f44336;
    border-color: #f32c1e;
    color: #fff;
}

.callout.success.solid {
    background-color: #3adb76;
    border: 0px;
    color: #fff;

    .hollow {
        border-color: #FFF;
        color: #FFF;
        background-color: transparent;

        &:hover {
            background-color: #2cb960;
        }
    }
}
