﻿@import '../rulesets-mixin/box-elevation-shadow.mixin.less';
.loading.spinner {
    position: absolute;
    height: 5.2rem;
    width: 11rem;
    top: 1rem;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    background-color: rgba(19, 19, 33, 0.6);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
 //   transform: translateY(0);
    z-index:998;
    .screen-sm({
     top:5rem;
    });

    

    .ball {
        width: 1.8rem;
        height: 1.8em;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }

    div.text {
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        margin-top: 0.3rem;
        font-family: "Open Sans";
        letter-spacing: 0.2rem;
        font-size: 0.725rem;
    }
}


@keyframes motion {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    25% {
        transform: translateX(-50px) scale(0.4);
        opacity: 0.2;
    }

    50% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    75% {
        transform: translateX(50px) scale(0.4);
        opacity: 0.2;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}
